*.iml
.gradle/
/local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/*

# Keystore files
*.jks
*.keystore

# build output
/build
*.aab
*.apk

# google service
app/google-services.json

# build
*/build